.letters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 3vh;
}

.letter-closed {
    width: 22vw;
    height: 12vw;
    margin: 1vw;
    border: 0.25vw solid blue;
    font-size: 0;
}

.letter {
    width: 22vw;
    height: 12vw;
    margin: 1vw;
    border: 0.25vw solid rgb(255, 0, 21);
}

.out {
    width: 22vw;
    height: 12vw;
    margin: 1vw;
    border: 0.25vw solid rgb(15, 15, 15);
}
